[submodule "curl"]
	path = curl
	url = git://github.com/bagder/curl.git
[submodule "libssh2"]
	path = libssh2
	url = git://github.com/libssh2/libssh2
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib